/* Definizione dei colori di root */

$green-color: #28a745;
$white-color: #ffffff;
$black-color: #000000;

// General
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// Definizione di background colo per classi Bootstrap
.green {
  background-color: $green-color;
}

* {
  font-family: "Roboto", sans-serif;
}
